*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 40%;
    height: 30%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn_title{
    font-size: 35px;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}
.btn_list{
    padding-top: 40px;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_btn{
    margin-right: 30px;
}
input{
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.first_btn:hover{
    transform: scale(1.1);
    transition: ease-in .5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.last_btn:hover{
    transform: scale(1.1);
    transition: ease-in .5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.box_modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(128, 128, 128, 0.288);
}
.box_modal.active{
    display: block;
}
.modal_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 50%;
    background: #fff;
}
.modal_content.active{
    background: url(./love.jpg);
    background-size: cover;
}
.btn_close{
    padding-right: 2px;
    font-size: 25px;
    cursor: pointer;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.music1{
    display: none;
}
.music1.active{
    display: block;
}
.title{
    display: none;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}
.title.active{
    display: block;
}